root {
}

input,
label {
    display: block;
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

h2 {
    font-size: 56px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
}

h5 {
}

h6 {
}

p {
    font-size: 20px;
}
.cBtnPrimary {
    background-color: #2d327d;
    border-radius: 0px;
    border: none;
    font-size: 25px;
    color: white;
    height: 51px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.cBtnPrimary:hover {
    background-color: #191964;
    border-radius: 0px;
    border: none;
    font-size: 25px;
    color: white;
    height: 51px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.cBtnSecondary {
    background-color: #cccccc;
    border-radius: 0px;
    border: none;
    font-size: 25px;
    color: black;
    height: 50px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.cBtnSecondary:hover {
    background-color: #b7b7b7;
    border-radius: 0px;
    border: none;
    font-size: 25px;
    color: black;
    height: 50px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.cBtnRadio {
    background-color: white;
    border-width: 2px;
    border-radius: 0px;
    border-color: #2d327d;
    font-size: 20px;
    color: #2d327d;
    height: 50px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
}

.cBtnRadio:hover {
    background-color: rgb(213, 214, 229);
    border-width: 3px;
    border-radius: 0px;
    border-color: #2d327d;
    font-size: 20px;
    color: #2d327d;
    height: 50px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.cBtnRadio:active {
    background-color: red;
    border-width: 3px;
    border-radius: 0px;
    border-color: #2d327d;
    font-size: 20px;
    color: #2d327d;
    height: 50px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.loginBox {
    background-color: white;
    border-radius: 0;
    border-color: black;
    border-width: 4px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.textField {
    background-color: white;
    border-radius: 0;
    border-color: #8d8d8d;
    border-width: 3px;
    font-size: 22px;
    margin: 0px;
}

.textField:hover {
    background-color: #e5e5e5;
    border-radius: 0;
    border-color: #686868;
    border-width: 3px;
    font-size: 22px;
    margin: 0px;
}

.cNavbar {
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.topNavbarItem {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #8d8d8d;
    font-size: 18px;
}

.topNavbarItem::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 0%;
    background-color: #686868;
    bottom: 1em;
    transition: all ease-in-out 450ms;
}

.topNavbarItem:hover::after {
    width: 5%;
}

.bottomNavbarItem-100 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 25px;
    text-align: center;
}

.bottomNavbarItem-100::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 0%;
    background-color: #2d327d;
    bottom: 1em;
    transition: all ease-in-out 450ms;
}

.bottomNavbarItem-100:hover::after {
    width: 100px;
}

.bottomNavbarItem-175 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 25px;
    text-align: center;
}

.bottomNavbarItem-175::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 0%;
    background-color: #2d327d;
    bottom: 1em;
    transition: all ease-in-out 450ms;
}

.bottomNavbarItem-175:hover::after {
    width: 175px;
}

.infobox {
    background-color: #dcdcdc;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.zoom {
    height: 200px;
    overflow: hidden;
}
.zoom img {
    transition: transform 0.5s ease;
}
.zoom:hover img {
    transform: scale(1.5);
}

#depSearch {
    background-color: white;
    border-radius: 0;
    border-color: #8d8d8d;
    border-width: 5px;
    font-size: 22px;
    margin: 2px;
}

#depSearch:hover {
    background-color: #e5e5e5;
    border-radius: 0;
    border-color: #686868;
    border-width: 5px;
    font-size: 22px;
    margin: 2px;
}

#mapAllBtn {
    height: 60px;
    width: 400px;
}

